<div class="card">
  <div>
    <div class="row d-flex flex-wrap align-items-center">
      <div class="col">
        <form (ngSubmit)="save()" class="card-body" #newUserForm="ngForm">
          <h1 class="display-6 mb-3 mt-3">Cadastro de novo usuário:</h1>

          <app-mensagem
            *ngIf="campoUserName.invalid && campoUserName.touched"
            mensagem="Nome obrigatório"
          ></app-mensagem>
          <div class="input-group mb-3">
            <div class="input-group-prepend col-3">
              <span class="input-group-text col" id="basic-addon1">Nome</span>
            </div>

            <input
              [(ngModel)]="user.name"
              #campoUserName="ngModel"
              type="text"
              class="form-control col"
              placeholder="Digite seu nome."
              name="nome"
              aria-describedby="basic-addon1"
              required
            />
          </div>

          <app-mensagem
            *ngIf="campoEmail.invalid && campoEmail.touched"
            mensagem="Email obrigatório"
          ></app-mensagem>
          <div class="input-group col mb-3">
            <div class="input-group-prepend col-3">
              <span class="input-group-text col" id="basic-addon1">Email</span>
            </div>
            <input
              [(ngModel)]="user.email"
              #campoEmail="ngModel"
              type="text"
              class="form-control col"
              placeholder="Digite seu email."
              name="email"
              aria-describedby="basic-addon1"
              required
            />
          </div>

          <app-mensagem
            *ngIf="campoPhone.invalid && campoPhone.touched"
            mensagem="Telefone obrigatório"
          ></app-mensagem>
          <div class="input-group col mb-3">
            <div class="input-group-prepend col-3">
              <span class="input-group-text col" id="basic-addon1"
                >Telefone</span
              >
            </div>
            <input
              [(ngModel)]="user.phone"
              #campoPhone="ngModel"
              type="text"
              prefix="+55"
              mask=" (00) 00000-0000"
              [showMaskTyped]="true"
              class="form-control col"
              placeholder="Digite seu telefone."
              name="phone"
              aria-describedby="basic-addon1"
              required
            />
          </div>

          <app-mensagem
            *ngIf="campoBirthdate.invalid && campoBirthdate.touched"
            mensagem="Data de nascimento obrigatória"
          ></app-mensagem>
          <div class="input-group col mb-3">
            <div class="input-group-prepend col-3">
              <span class="input-group-text col" id="basic-addon1"
                >Nascimento</span
              >
            </div>
            <input
              [(ngModel)]="user.birthdate"
              #campoBirthdate="ngModel"
              type="date"
              class="form-control col"
              placeholder="Formato provisório: yyyy-mm-dd"
              name="nascimento"
              aria-describedby="basic-addon1"
              required
            />
          </div>

          <app-mensagem
            *ngIf="campoThumb.invalid && campoThumb.touched"
            mensagem="Thumb obrigatória"
          ></app-mensagem>
          <div class="input-group col mb-3">
            <div class="input-group-prepend col-3">
              <span class="input-group-text col" id="basic-addon1">Thumb</span>
            </div>
            <input
              disabled
              [(ngModel)]="user.thumb"
              #campoThumb="ngModel"
              type="text"
              class="form-control col"
              placeholder="Insira o link de uma thumb."
              name="thumb"
              aria-describedby="basic-addon1"
              required
            />
          </div>

          <h1 class="display-6 mb-3 mt-3">Informações sobre o endereço:</h1>

          <app-mensagem
            *ngIf="campoStreet.invalid && campoStreet.touched"
            mensagem="Rua obrigatória"
          ></app-mensagem>
          <div class="input-group col mb-3">
            <div class="input-group-prepend col-3">
              <span class="input-group-text col" id="basic-addon1">Rua</span>
            </div>
            <input
              [(ngModel)]="user.adress.street"
              #campoStreet="ngModel"
              type="text"
              class="form-control col"
              placeholder="Digite sua rua."
              name="rua"
              aria-describedby="basic-addon1"
              required
            />
          </div>

          <app-mensagem
            *ngIf="campoNumber.invalid && campoNumber.touched"
            mensagem="Numero obrigatório"
          ></app-mensagem>
          <div class="input-group col mb-3">
            <div class="input-group-prepend col-3">
              <span class="input-group-text col" id="basic-addon1">Numero</span>
            </div>
            <input
              [(ngModel)]="user.adress.number"
              #campoNumber="ngModel"
              type="number"
              class="form-control col"
              placeholder="Digite seu numero."
              name="numero"
              aria-describedby="basic-addon1"
              required
            />
          </div>

          <app-mensagem
            *ngIf="campoDisctrict.invalid && campoDisctrict.touched"
            mensagem="Bairro obrigatório"
          ></app-mensagem>
          <div class="input-group col mb-3">
            <div class="input-group-prepend col-3">
              <span class="input-group-text col" id="basic-addon1">Bairro</span>
            </div>
            <input
              [(ngModel)]="user.adress.district"
              #campoDisctrict="ngModel"
              type="text"
              class="form-control col"
              placeholder="Digite seu bairro."
              name="bairro"
              aria-describedby="basic-addon1"
              required
            />
          </div>

          <app-mensagem
            *ngIf="campoCity.invalid && campoCity.touched"
            mensagem="Cidade obrigatória"
          ></app-mensagem>
          <div class="input-group col mb-3">
            <div class="input-group-prepend col-3">
              <span class="input-group-text col" id="basic-addon1">Cidade</span>
            </div>
            <input
              [(ngModel)]="user.adress.city"
              #campoCity="ngModel"
              type="text"
              class="form-control col"
              placeholder="Digite sua ciade."
              name="cidade"
              aria-describedby="basic-addon1"
              required
            />
          </div>

          <app-mensagem
            *ngIf="campoState.invalid && campoState.touched"
            mensagem="Estado obrigatório"
          ></app-mensagem>
          <div class="input-group col mb-3">
            <div class="input-group-prepend col-3">
              <span class="input-group-text col" id="basic-addon1">Estado</span>
            </div>
            <input
              [(ngModel)]="user.adress.state"
              #campoState="ngModel"
              type="text"
              class="form-control col"
              placeholder="Digite seu estado."
              name="estado"
              aria-describedby="basic-addon1"
              required
            />
          </div>

          <app-mensagem
            *ngIf="campoPostcode.invalid && campoPostcode.touched"
            mensagem="Código postal obrigatório"
          ></app-mensagem>
          <div class="input-group col mb-3">
            <div class="input-group-prepend col-3">
              <span class="input-group-text col" id="basic-addon1"
                >Código Postal</span
              >
            </div>
            <input
              [(ngModel)]="user.adress.postcode"
              #campoPostcode="ngModel"
              mask="00000-000"
              type="text"
              class="form-control col"
              [showMaskTyped]="true"
              placeholder="Digite o código postal."
              name="codigo"
              aria-describedby="basic-addon1"
              required
            />
          </div>

          <button
            class="btn btn-primary btn-lg ml-3 col-12"
            [disabled]="newUserForm.invalid"
          >
            Cadastrar
          </button>
        </form>
      </div>

      <div class="col">
        <div>
          <img
            class="img-thumbnail"
            src="https://i2.wp.com/www.booleanworld.com/wp-content/uploads/2019/11/linux-users-cover-photo.png?resize=1400%2C9999&ssl=1"
          />
        </div>
      </div>
    </div>
  </div>
</div>
